.container {
  max-width: 670px;
  margin: 100px auto;
}
.form {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background: #34495e;
  border-radius: 20px;
}
.form input {
  border: none;
  outline: none;
  padding: 15px;
  font-size: 18px;
}
.add_btn {
  background-color: rgb(43, 156, 107);
  color: white;
  cursor: pointer;
}
